.vechile-card-layout{
    background:rgba(16, 82, 16, 0.541);
    max-width:100%;
    height:auto;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.vechile-card-layout img{
    object-fit: cover;

    width: 100%;
    max-height: 300px;
    
}

.vechile-car-type{
    text-align: center;
    text-align: right;
}

.vechile-car-model h3{
    font-weight: 500;
}

.card-content{
    /* background:rgba(16, 82, 16, 0.541); */
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.vechile-content-data{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
}

.vechile-content-data-item{
    flex-basis: 50%;
    box-sizing: border-box;
}

.vechile-card-layout button{
    margin-left: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}
.vechile-card-layout button:hover{
    transform: scale(1.2);
    margin-right: 20px;
    margin-left: 20px;
    color: yellow;
    background-color: transparent;
    border: 2px solid linear-gradient(135deg, #E3E3E3 0%,#d2d3d5 100%);;
}


.explore-all-vec-btn{
    margin-left: auto;
    margin-right: auto;
}

.explore-all-vec-btn button{
    margin:10px;
    font-size: x-large;
}


